<h1>Salom, bu xat job orqali yuborildi</h1>
<p>Parolni yangilash uchun quyidagi havolaga o'ting:</p>

<a href="{{ url ~ 'reset-password/token?token=' ~ token }}">{{ url ~ 'reset-password/token?token=' ~ token }}</a>
